@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;200&family=Orbitron&family=Oswald:wght@200;400&family=Poppins:wght@100;200&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    margin-left: 15px;
}


body{
  background-color: #fdffff;
}
nav{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
   
}
.logo{
    display: flex;
    flex-direction: row;
    width: 8%;
   

}
.nav-items{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: "Poppins";
}

.nav-item.active-item{
    color:rgb(243, 124, 39) ;
}
.actions{
    display: flex;
    flex-direction: row;
    width: 15%;
    justify-content: flex-end;
}
/* middle parts */
.intro-section{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 80vh;
    width: 100vw;
}

.left-section{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex: 0.55;
    width: 100%;
    min-height: 100%;
    
}
.left-section h3{
    font-size: 40px;
    font-weight: 250;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Fredoka One";
}
.left-section h3 img{
    width: 60px;
}
.left-section h1{
    font-size: 80px;
    font-family: "Fredoka One";
    font-weight: 200;

}
.sub-headlines{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
    margin-top: 30px;
    gap: 50px;
    
}
.sub-headline {
    font-size: 20px;
    font-weight: 300;
    font-family: "Poppins";
    margin-left: 70px;
   

}
.sub-headline img{
    background-color: rgb(243, 124, 39);
    border-radius: 10px;
}
p{
    display: flex;
    flex-direction: row;
    margin-top: 60px ;
    color:#a19a9a ;
    font-family: "Poppins";
    width: 90%;

}


.action-btns{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    width: max-content;
}
.action-btn{
    font-size: 20px;
    background-color: #FE5E35;
    color: antiquewhite;
    border: none;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    margin: 20px;
}


.right-section{
    display: flex;
    flex-direction: column;
    flex: 0.45;
    height: max-content;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.headphone-div{
    display: flex;
    flex-direction: column;
    height: 600px; 
}
.discount{
    width: 160px;
    display: flex;
    flex-direction: column;
    transform: translate(-60px, 250px);
    z-index: -1;
}
.discount-content{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    flex-wrap: wrap;
    margin-top: 10px; 
    transform: translate(-35px, 110px);
    width: max-content;
   
}
.discount-content>h4{
    font-size: 14px;
    font-family:"Fredoka One";
    font-weight: normal;
}

.discount-content>h1{
    font-size: 50px;
    font-family:"Fredoka One";
    font-weight: normal;

}
.headphn{
    display: flex;
    flex-direction: column;
    width: 500px;
    transform: translate(0px, -300px);
    z-index: -2;
    
}
.dots {
    display: flex;
    flex-direction: row;
    width: max-content;
    align-self: center;
    gap: 12px;
}
.dot{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    
}
.yellow-dot{
   background-color: #fffb24fa;
}

.tomato-dot{
    background-color: #ff3e0d;
}
.black-dot{
   background-color: #000000;

}
.right-section .action-btn{
    background-color:(#FE5E35);
    margin-left: 50px;
    margin-top: 50px;
}
    
/* responsive */
@media screen and (max-width:700px) {

    *{
        padding: 0;
        margin: 0;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .nav-items{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .actions{
        display: none;   
    }


    .intro-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-section{
        display: flex;
        flex-direction: column;
        height: auto;
        width: max-content;
        align-items: center;

    }

    .left-section h3{
        font-size: 20px;
        color: #f18333;
    }
    .left-section h1{
        font-size: 30px;
    }
    .sub-headlines{
        margin-right: 80px;

    }
    .sub-headline{
        font-size: 16px;
        font-weight: 600;
    }
    .sub-headline img{
        width: 10px;
    }
    .text{
        display: none;
    }
    .action-btns{
        display: flex;
        flex-direction: row;
    }
    .action-btn{
        padding: 6px;
        font-size: 12px;
        font-weight: 400;
       
    }
    .right-section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: max-content;
        width: max-content;
    }
    .headphone-div{
        display: flex;
        flex-direction: column;
        width:100%;
        height: 400px;
        justify-content: space-around;
        align-items: center;
        
    }
    .discount{
        display: flex;
        flex-direction: row;
        width: 80px;

    }

    .discount-content{
        display: flex;
        transform: translate(-62px, 178px);

    }

    .discount-content h4{
        display: flex;
        font-size: 8px ;
        font-weight: 300;
        
    }
    .discount-content h1 {
        display: flex;
        font-size: 22px;
        font-weight: 400;
    }

    .headphn{
        display: flex;
        flex-direction: column;
        width: 300px;
        transform: translate(0px, 0px);
        margin-bottom: 180px;
    }
    .action-btn{
        margin-right: 60px;

    }


}